<mat-card>
    <mat-card-header class="mb-3">
        <mat-card-title>Cambios de estados sofkianos</mat-card-title>
        <mat-card-subtitle>Cantidad de ingresos y salidas</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <div class="d-flex justify-content-center">
            <canvas class="chart" baseChart [data]="datosDiagrama" [options]="configuracionDiagrama" [type]="tipoDiagrama"></canvas>
        </div>
        <form class="mt-5" [formGroup]="form" (ngSubmit)="consultarCambiosEstados()" autocomplete="off">
            <div class="row">
                <div class="col-md-12">
                    <mat-form-field appearance="fill" class="w-100">
                        <mat-label>Rango de fechas</mat-label>
                        <mat-date-range-input [rangePicker]="picker">
                            <input matStartDate placeholder="Start date" formControlName="fechaInicial">
                            <input matEndDate placeholder="End date" formControlName="fechaFinal">
                        </mat-date-range-input>
                        <mat-hint>DD/MM/YYYY - DD/MM/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-date-range-picker #picker></mat-date-range-picker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-6"></div>
                <div class="col-md-6 d-flex justify-content-end">
                    <button type="submit" mat-raised-button color="primary" class="mx-3" [disabled]="form.invalid">
                        Consultar
                    </button>
                </div>
            </div>
        </form>
    </mat-card-content>
</mat-card>