<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav mode="over">
        <mat-toolbar color="primary">
            <span>Menú</span>
            <span class="spacer"></span>
            <button mat-icon-button (click)="sidenav.toggle()">
              <mat-icon>menu</mat-icon>
            </button>
        </mat-toolbar>
        <mat-nav-list>
            <mat-list-item routerLink="./dashboard" routerLinkActive="active" (click)="sidenav.toggle()">
                <button mat-icon-button matListItemMeta>
                    <mat-icon>equalizer</mat-icon>
                 </button>
                <a matListItemTitle>Dashboard</a>
            </mat-list-item>
            <mat-list-item routerLink="./sofkianos" routerLinkActive="active" (click)="sidenav.toggle()">
                <button mat-icon-button matListItemMeta>
                    <mat-icon>group</mat-icon>
                 </button>
                <a matListItemTitle>Sofkianos</a>
            </mat-list-item>
            <mat-list-item routerLink="./clientes" routerLinkActive="active" (click)="sidenav.toggle()">
                <button mat-icon-button matListItemMeta>
                    <mat-icon>handshake</mat-icon>
                 </button>
                <a matListItemTitle>Clientes</a>
            </mat-list-item>
        </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <span>Administración sofkianos</span>
    </mat-toolbar>
    <div class="container mt-3">
        <router-outlet></router-outlet>
    </div>
</mat-sidenav-container>